/* App.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin-bottom: 40px; /* Add margin to the bottom of the navbar */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo {
  max-width: 100px;
}


.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
}



.carousel-container {
  width: 100%;
  margin-top: 50px;
}

.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover; /* Ensure images cover the entire space */
}

 

.card {
  width: 250px; /* Set a maximum width for the cards */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 100px; /* Add margin to separate cards */
  height:100px;
  margin-bottom:50px; 
}
.card img {
  max-width: 90%; /* Ensure images inside cards are responsive */
  border-radius: 5px 5px 0 0; /* Rounded corners for the top of the image */
}

.card-body {
  padding: 10px;
}

/* Set the container as a flex container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the container takes at least the height of the viewport */
}

/* Footer styling */
.footer {
  margin-top: auto; /* Push the footer to the bottom */
  background-color: #f8f9fa; /* Example background color */
  padding: 20px; /* Add padding to the footer */
  text-align: center; /* Center-align the content */
}
